<%= form_for(@question) do |f| %>
  <%= f.label :タイトル %>
  <%= f.text_field :title, class: "edit-title", placeholder:"プログラミングに関しての質問は何ですか？具体的に書いてください。",required:true%>
  <%= f.text_area :content, class: "editor",required:true %>

  <%= f.label :tag_list, "タグ" %>
  <!-- <div class="field"> -->
  <ul class="tagit ui-widget ui-widget-content ui-corner-all">
    <div id="question-tags">
      <%= text_field_tag "tags" %>
    </div>
  <!-- </div> -->
  </ul>
  <%= f.submit '投稿する',class:"submit-button"%>
<% end %>
<script>
(function(){
  if (gon.question_tags != null) {
      var tags = gon.question_tags
      $('#question-tags').tagit({
      availableTags: tags
    });
  }
});
</script>
