<div class="content">
  <main>
    <div class="__head">
      <h2>すべての質問</h2>
      <ul>
        <li class="current_tab"><%= sortable "created_at", "新着" %></li>
        <li><%= sortable "vote_count", "票" %></li>
        <li><%= sortable "bookmarks_count", "お気に入りランク" %></li>
      </ul>
    </div>
    <div class="q-wrap">
      <ul class="q-list">
      <% @questions.each do |question| %>
        <li class="q-item">
          <div class="count-wrap">
            <div class="votes box">
              <p><%= question.vote_count %><sapn class="num-text">票</sapn></p>
            </div>
            <div class="status box">
              <p><%= question.answers.count %><span class="num-text">回答</span></p>
            </div>
            <div class="views box">
              <p><span class="read-count">1230件の閲覧数</span></p>
              <p><span class="bookmarks_count"><%= question.bookmarks_count %> 件のお気に入り</span>
            </div>
          </div>
          <div class="summary">
            <h3>
              <%= link_to question.title, question_path(question),method:"get", class:"q-title" %>
            </h3>
            <p class="q-text"><%= question.content %>...</p>
             <!-- tag表示　-->
              <%= include_gon %>
              <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
             <!-- tag表示　-->
             <div id="question-tags">
               <%= question.tag_list %>
             </div>
            <div class="user-block">
              <div class="log"><p><a>質問日時: </a>14年12月19日 8:02</p></div>
              <div class="user">
                <div class="user-avatar"><%= profile_img(question.user) %></div>
                <div class="user-name-box">
                  <%= link_to question.user.name, user_path(question.user),class: "user-name" %>
                  <p class="user-info">
                    <span class="reputation-score" title="信用度スコア: ">信用度：<%= question.user.reputation_count %></span>
                  </p>
                </div>
              </div>
            </div><!-- user-block -->
          </div>
        </li>
      <% end %>
      </ul>
      <%= paginate @questions %>
    </div>
  </main>


  <div id="sidebar">
    <button class="question-buttton"><a href="/questions/new/">質問する</a></button>
    <div class="question-status box" id="question-status box">
      <h4 class="title"><%= Question.count %></h4>
      <p>件の質問</p>
    </div>

    <div class="module" id="recent-tags">
      <h4 class="recent-tags-title">最近のタグ</h4>
      <ul id="recent-tags-list">
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">javascript</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">67</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">python</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">52</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">java</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">48</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">linux</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">40</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">css</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">27</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">html</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">25</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">ruby on rails</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">19</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">git</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">16</span>
        </li>
        <li class="recent-tags-item">
          <a href="#" class="tag post-tag" rel="tag">swift3</a>
          <span class="item-multiplier-x">×</span>
          <span class="item-multiplier-count">12</span>
        </li>
      </ul>
      <p class="tags-all more-tags-all"><a href="#">関連するタグを更に表示</a></p>
    </div>
  </div>
</div>
