<div class="__head question-show__head">
  <h2><%= @question.title %></h2>
</div>
<div class="content">
  <main>
    <div class="q-list">
    <div class="notice-blue">
      <%= notice %>
    </div>
      <div class="q-block">
        <div class="evaluation">
          <% if @question.user == current_user %>
            <a class="evaluation-good" onClick="window.alert('自分の質問には投票できません');"></a>
          <% else %>
            <%= link_to "", plus_question_question_votes_path(question_id: @question.id), method: :post, class: 'evaluation-good' %>
          <% end %>
          <p id="evaluation-count"><%= @question.vote_count %></p>
          <% if @question.user == current_user %>
            <a class="evaluation-bad" onClick="window.alert('自分の質問には投票できません');"></a>
          <% else %>
            <%= link_to "", minus_question_question_votes_path(question_id: @question.id), method: :post, class: 'evaluation-bad' %>
          <% end %>
          <!--<svg version="1.1" id="star" class="star star-off" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 53.867 53.867" xml:space="preserve">
          <polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798
          	10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "/>
          </svg>-->
          <div class="bookmark-clip">
            <p><%= render 'bookmarks/bookmark_form', question: @question %></p>
          </div>
        </div>
        <div class="summary">
          <p class="q-text-show"><%= @question.content %></p>
          <a class="tag">swift3</a>
          <div class="q-show-link-box">
            <a href="#">共有</a><a href="#">この回答を改善する</a>
          </div>
          <div class="user-block q-show-bg">
            <div class="log"><p>質問日時:30分前</p></div>
            <div class="user q-show">
              <div class="user-avatar"><img src="https://placehold.jp/150x150.png" alt=""></div>
              <div class="user-name-box">
                <a class="user-name" href="">yamada</a>
                <p class="user-info">
                  <span class="reputation-score" title="信用度スコア: ">66</span>
                </p>
              </div>
            </div>
          </div><!-- user-block -->
          <%= link_to "編集", edit_question_path(@question.id), class:"q-title" %>
          <div class="q-show-add-comment">
            <a href="#">コメント追加</a>
          </div>
        </div>
      </div>
    </div>
    <div class="__head question-answer-head">
        <h2>１件の回答</h2>
        <ul>
          <li><a href="#">アクティブ</a></li>
          <li><a href="#">古い順</a></li>
          <li class="current_tab"><a href="#">票</a></li>
        </ul>
    </div>
    <ul id="answers_area" class="q-list">
      <%= render partial: 'answers/index', locals: { answers: @answers, question: @question } %>
    </ul>
    <div class="answer">
      <h2>回答</h2>
      <%= render partial: 'answers/form', locals: { answer: @answer, question: @question } %>
      <p>質問を投稿することで<a href="#">プライバシー ポリシー</a>および<a href="#">サービス利用規約</a>に同意したものとみなされます。</p>
      <p>求めていた回答ではありませんか?<a href="#" class="tag">php</a>のタグが付いた他の質問を参照するか、自分で質問をする。</p>
  </main>

  <div id="sidebar">
    <div class="question-show__status box">
      <P><span>質問を投稿</span><span class="number" >2</span> 日前</P>
      <P><span>閲覧回数</span><span class="number" >38</span> 回</P>
      <P><span>アクティブ</span><span class="number" >2</span> 日前</P>
    </div>
    <div class="module">
      <h3 class="relative-q-title">関連する質問</h3>
      <ul id="relative-q-list">
        <li><a class="propatytag">1</a><a href="#" class="q-link">phpでexecを用いてpsqlを動かす際にパスワードを与える方法について</a></li>
        <li><a class="propatytag propatytag--active">1</a><a href="#" class="q-link">PHPMyAdminはどうやってSQLをダンプしているのか</a></li>
        <li><a class="propatytag propatytag--active">9</a><a href="#" class="q-link">72文字を超えるパスワードを許容したい場合、password_hashを使うべきではない？</a></li>
        <li><a class="propatytag">1</a><a href="#" class="q-link">PHPからMySQLに接続がうまくできない</a></li>
        <li><a class="propatytag">2</a><a href="#" class="q-link">phpmyadminのインストールができない</a></li>
        <li><a class="propatytag">2</a><a href="#" class="q-link">phpmyadminが表示されない</a></li>
        <li><a class="propatytag propatytag--active">0</a><a href="#" class="q-link">nginx+php-fpm+phpmyadminセットアップ　phpファイルが動かない</a></li>
        <li><a class="propatytag">0</a><a href="#" class="q-link">phpMyAdminのポートフォワードがうまくいかない</a></li>
        <li><a class="propatytag">0</a><a href="#" class="q-link">phpからmysqlへの接続</a></li>
        <li><a class="propatytag">0</a><a href="#" class="q-link">PHPでパスワード認証がある外部サイトに自動でログインしたい</a></li>
      </ul>
    </div>
  </div>
</div>
