<div class="sigin_and_signup_content">
  <%= devise_error_messages! %>
  <h2 class="login_title">すぐにご利用いただけますので、あなたのスタック・オーバーフロー アカウントを作成ください。</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <p class="login_title">メールアドレスで登録</p>
    <%= f.text_field :name, class:"login_from", placeholder: "名前", :required => true %>
    <%= f.email_field :email, autofocus: true, class:"login_from", placeholder: "メールアドレス",:required => true %>
    <%= f.password_field :password, autocomplete: "off", class:"login_from", placeholder: "パスワード", :required => true %>
    <div class="actions">
      <%= f.submit "登録",class:"login_btn" %>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>
</div>
